@{
    ViewBag.Title = "Yêu cầu trái phép";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h2>Error 401 : Yêu cầu trái phép</h2>
    </div>
    <div class="panel-body">
        <ul style="font-size:17px">
            <li>Bạn <b>không có quyền</b> truy cập tài nguyên được yêu cầu do hạn chế về bảo mật.</li>
            <li>Để được truy cập, vui lòng liên hệ với quản trị viên hệ thống của bạn</li>
        </ul>
    </div>
</div>
