@{
    ViewBag.Title = "Lỗi";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h2>LỖI</h2>
    </div>
    <div class="panel-body">
        <span style="font-size:17px">ĐÃ XẢY RA LÔI. VUI LÒNG LIÊN HỆ KỸ THUẬT VIÊN ĐỂ ĐƯỢC HỖ TRỢ!</span>
    </div>
</div>

