<div class="modal" id="resetPasswordModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <label class="control-label col-md-2">Email: </label>
                <span class="form-control" id="email"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="text" id="password" class="form-control"/>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="resetPass" value="Reset Password"/>
                </div>
            </div>
        </div>
    </div>
</div>