body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: whitesmoke
}
.login {
    position: fixed;
    left: 50%;
    margin-left: -180px;
    top: 20%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frmLogin {
    width: 350px;
}

    .frmLogin .title {
        text-align: center;
        padding: 15px 0;
    }

    .frmLogin .hr {
        border-bottom: 1px solid #dadada;
        text-align: center;
        line-height: 0px;
        margin: 15px 0 20px 0;
    }

        .frmLogin .hr span {
            background-color: #fff;
            padding: 5px;
        }

.body fieldset {
    position: relative;
}

    .body fieldset i {
        position: absolute;
        width: 40px;
        left: 0;
        line-height: 44px;
        text-align: center
    }

    .body fieldset input {
        height: 44px;
        padding: 14px 14px 14px 40px;
        font-size: 16px;
    }

.body .btn {
    width: 100%;
    height: 45px;
    background-color: #FF6275;
    color: #fff;
    font-size: 15px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color:cadetblue;
    color: #fff;
}

    footer a {
        color: #008c8f;
    }
