<appSettings>
  <add key="MSSQLConnection" value="Data Source=DESKTOP-M9MCU9V;Initial Catalog=InSysVina;User Id=sa;Password=minh14789;Max Pool Size=1000; Connect Timeout=72000;Pooling=true;"/>
    <add key="tokenApi" value="/token" />
    <add key="ApiWarehouseName" value="Warehouse"/>
    <add key="postOrderApi" value="/api/Orders/SubmitOrderShop" />
    <add key="syncProductApi" value="/api/Products/SyncData" />
    <add key="pageSizeProduct" value="100" />
    <add key="pageSizeOrder" value="2" />
    <add key="TimeSync" value="30000" />

  <add key="MoneyOnePoint" value="1000" />
  <add key="PercentForPoint" value="3" /><!--điểm bằng ? tỷ lệ % đơn hàng-->
  <add key="MinMoneyUseSavePoint" value="30000"/>

  <add key="Dayx2" value="6"/>

  <add key="PathUploadLogo" value="/Uploads/Logo/"/>
  <add key="PathUploadAvatar" value="/Uploads/Avatar/"/>
  <add key="PathUploadFileImport" value="/Uploads/Import/"/>
  <add key="PathUploadFileTemplate" value="/Uploads/Template/"/>
  <add key="PathSaveFileExport" value="/Download/Report/"/>
  <add key="AvatarDefault" value="/Assets/images/noavatar.png"/>
  <add key="PathTemplatesImport" value="/Templates/Import/"/>

  <add key="Template_Export_DetailGeneralReport" value="/Templates/Export/DetailGeneralReport.xlsx"/>
  <add key="Template_Export_ProductsReport" value="/Templates/Export/ProductsReport.xlsx"/>
  <add key="Template_Export_OrdersReport" value="/Templates/Export/OrdersReport.xlsx"/>
  
  
  <add key="UrlServer" value="http://localhost:13893/"/>
  
  <!--Category Images-->
  <add key="CateImagesDefault" value="/Assets/images/No_Image_Available.jpg"/>
  <add key="PathUploadServer" value="D:/Web Định/InSysVN/InSysVN/InSys/"/>
  <add key="PathUploadCateImage" value="/Upload/CateImg/"/>

  

  <!--Express Cookie ProductSync-->
  <add key="earlyTime" value="7"/>
  <add key="lateTime" value="21"/>

  <add key="urlTemplateImportProduct" value="/Templates/Import/TemplateImportProducts.xlsx"/>
  <add key="urlTemplateImportCustomer" value="/Templates/Import/TemplateImportCustomer.xlsx"/>
  <add key="urlTemplateImportCategory" value="/Templates/Import/TemplateImportCategory.xlsx"/>
  <add key="urlTemplateImportCardNumber" value="/Templates/Import/TemplateImportCardNumber.xlsx"/>

  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="ckfinderAllowedRole" value="*" />
  <add key="ckfinderRoute" value="/ckfinder/connector" />

</appSettings>